In [31]:
import requests
import pandas as pd
import datetime

headers = {"User-Agent": "russ@sunriseanalysis.com"}

ticker = "AMD"
concept = "NetIncomeLoss"

tickers_json = requests.get(
    "https://www.sec.gov/files/company_tickers.json", headers=headers
)

cik_df = pd.DataFrame.from_dict(tickers_json.json(), orient="index")
cik_df["cik_str"] = cik_df["cik_str"].astype(str).str.zfill(10)
cik = cik_df[cik_df["ticker"] == ticker]["cik_str"].values[0]

concept_url = (
    f"https://data.sec.gov/api/xbrl/companyconcept/CIK{cik}/us-gaap/{concept}.json"
)

apple_ni = pd.DataFrame.from_dict(requests.get(concept_url, headers=headers).json())

apple_units = pd.DataFrame.from_dict(apple_ni["units"]["USD"])
for col in ["start", "end", "filed"]:
    apple_units[col] = pd.to_datetime(apple_units[col])
ap = apple_units
ap["time_delta"] = ap["end"] - ap["start"]

ap["val"] = ap["val"] / 1_000_000
ap.rename(columns={"val": "value(millions)"}, inplace=True)

annual_data = ap[ap["time_delta"] > pd.Timedelta(days=350)]
ap = ap.drop(annual_data.index)
annual_data = annual_data.drop_duplicates(subset="value(millions)", keep="last")
annual_data = annual_data.dropna(subset="frame")
annual_data = annual_data.drop(
    columns=["time_delta", "end", "start", "filed", "form", "fy", "fp"]
).reset_index(drop=True)

annual_data.rename(columns={"frame": "year"}, inplace=True)
extra_data = ap[ap["time_delta"] > pd.Timedelta(days=115)]
ap = ap.drop(extra_data.index)
extra_data.reset_index(drop=True, inplace=True)
ap = ap.drop_duplicates(subset="value(millions)", keep="last")
ap = ap.drop(columns=["time_delta", "filed", "form", "fy", "fp", "accn"])
ap = ap.dropna(subset=["frame"])
ap = ap.reset_index(drop=True)


def map_to_quarter(date):
    if 3 <= date.month <= 5:
        return 1
    elif 6 <= date.month <= 8:
        return 2
    elif 9 <= date.month <= 11:
        return 3
    else:  # 12, 1, 2
        return 4


ap["quarter"] = ap["end"].apply(map_to_quarter)

min_year = ap["end"].min().year
max_year = ap["end"].max().year

all_periods = pd.DataFrame(
    [
        (year, quarter)
        for year in range(min_year, max_year + 1)
        for quarter in range(1, 5)
    ],
    columns=["year", "quarter"],
)
ap["year"] = ap["end"].apply(lambda x: x.year)
merged = pd.merge(all_periods, ap, how="left", on=["year", "quarter"])
# Sort the data by 'Year' and 'quarter' to make sure it's in the correct order
merged.sort_values(["year", "quarter"], inplace=True)

# Create new columns 'next_start' and 'prev_end' to store the start and end dates of the next and previous quarters
merged["next_start"] = merged["start"].shift(-1)
merged["prev_end"] = merged["end"].shift()

# For missing quarters, set the 'start' date as the day after the end of the previous quarter,
# and the 'end' date as the day before the start of the next quarter
merged.loc[merged["start"].isna(), "start"] = merged["prev_end"] + pd.Timedelta(days=1)
merged.loc[merged["end"].isna(), "end"] = merged["next_start"] - pd.Timedelta(days=1)

# Drop the 'next_start' and 'prev_end' columns as they are no longer needed
merged.drop(["next_start", "prev_end"], axis=1, inplace=True)

today = datetime.datetime.today()

# Calculate the start date of the current quarter
if today.month < 4:
    quarter_start = datetime.datetime(today.year - 1, 12, 1)
elif today.month < 7:
    quarter_start = datetime.datetime(today.year, 3, 1)
elif today.month < 10:
    quarter_start = datetime.datetime(today.year, 6, 1)
else:
    quarter_start = datetime.datetime(today.year, 9, 1)

# Remove rows where the 'start' date is on or after the start of the current quarter
merged = merged[merged["start"] < quarter_start]

In [32]:
merged

    year  quarter      start        end  value(millions)     frame
0   2011        1 2010-12-26 2011-04-02            510.0  CY2011Q1
1   2011        2 2011-04-03 2011-07-02              NaN       NaN
2   2011        3 2011-07-03 2011-10-01             97.0  CY2011Q3
3   2011        4 2011-10-02 2011-12-31           -177.0  CY2011Q4
4   2012        1 2012-01-01 2012-03-31           -590.0  CY2012Q1
5   2012        2 2012-04-01 2012-06-30             37.0  CY2012Q2
6   2012        3 2012-07-01 2012-09-29           -157.0  CY2012Q3
7   2012        4 2012-09-30 2012-12-29           -473.0  CY2012Q4
8   2013        1 2012-12-30 2013-03-30           -146.0  CY2013Q1
9   2013        2 2013-03-31 2013-06-29            -74.0  CY2013Q2
10  2013        3 2013-06-30 2013-09-28             48.0  CY2013Q3
11  2013        4 2013-09-29 2013-12-28             89.0  CY2013Q4
12  2014        1 2013-12-29 2014-03-29            -20.0  CY2014Q1
13  2014        2 2014-03-30 2014-06-28            -36.0  CY2014Q2
14  2014        3 2014-06-29 2014-09-27             17.0  CY2014Q3
15  2014        4 2014-09-28 2014-12-27           -364.0  CY2014Q4
16  2015        1 2014-12-28 2015-03-28           -180.0  CY2015Q1
17  2015        2 2015-03-29 2015-06-27           -181.0  CY2015Q2
18  2015        3 2015-06-28 2015-09-26           -197.0  CY2015Q3
19  2015        4 2015-09-27 2015-12-26           -102.0  CY2015Q4
20  2016        1 2015-12-27 2016-03-26           -109.0  CY2016Q1
21  2016        2 2016-03-27 2016-06-25             69.0  CY2016Q2
22  2016        3 2016-06-26 2016-09-24           -406.0  CY2016Q3
23  2016        4 2016-09-25 2016-12-31            -51.0  CY2016Q4
24  2017        1 2017-01-01 2017-04-01            -33.0  CY2017Q1
25  2017        2 2017-04-02 2017-07-01            -42.0  CY2017Q2
26  2017        3 2017-07-02 2017-09-30              NaN       NaN
27  2017        4 2017-10-01 2017-12-30            -19.0  CY2017Q4
28  2018        1 2017-12-31 2018-03-31             81.0  CY2018Q1
29  2018        2 2018-04-01 2018-06-30            116.0  CY2018Q2
30  2018        3 2018-07-01 2018-09-29            102.0  CY2018Q3
31  2018        4 2018-09-30 2018-12-29             38.0  CY2018Q4
32  2019        1 2018-12-30 2019-03-30             16.0  CY2019Q1
33  2019        2 2019-03-31 2019-06-29             35.0  CY2019Q2
34  2019        3 2019-06-30 2019-09-28            120.0  CY2019Q3
35  2019        4 2019-09-29 2019-12-28            170.0  CY2019Q4
36  2020        1 2019-12-29 2020-03-28            162.0  CY2020Q1
37  2020        2 2020-03-29 2020-06-27            157.0  CY2020Q2
38  2020        3 2020-06-28 2020-09-26            390.0  CY2020Q3
39  2020        4 2020-09-27 2020-12-26           1781.0  CY2020Q4
40  2021        1 2020-12-27 2021-03-27            555.0  CY2021Q1
41  2021        2 2021-03-28 2021-06-26            710.0  CY2021Q2
42  2021        3 2021-06-27 2021-09-25            923.0  CY2021Q3
43  2021        4 2021-09-26 2021-12-25              NaN       NaN
44  2022        1 2021-12-26 2022-03-26            786.0  CY2022Q1
45  2022        2 2022-03-27 2022-06-25            447.0  CY2022Q2
46  2022        3 2022-06-26 2022-09-24             66.0  CY2022Q3
47  2022        4 2022-09-25 2022-12-31              NaN       NaN
48  2023        1 2023-01-01 2023-04-01           -139.0  CY2023Q1