In [47]:
import requests
import pandas as pd
import datetime
import numpy as np

headers = {"User-Agent": "russ@sunriseanalysis.com"}

ticker = "AAPL"
concept = "NetIncomeLoss"

In [48]:
def get_cik(ticker):
    """
    Get the CIK for a given ticker.
    Args:
        ticker (str): The ticker symbol of the company.
    Returns:
        str: The CIK for the company.
    """
    ticker = ticker.upper()
    headers = {"User-Agent": "russ@sunriseanalysis.com"}
    # Get the tickers JSON file
    tickers_json = requests.get(
        "https://www.sec.gov/files/company_tickers.json", headers=headers
    )
    # Create a DataFrame of the tickers
    cik_df = pd.DataFrame.from_dict(tickers_json.json(), orient="index")
    cik_df["cik_str"] = cik_df["cik_str"].astype(str).str.zfill(10)
    # Get the CIK for the given ticker
    cik = cik_df[cik_df["ticker"] == ticker]["cik_str"].values[0]
    return cik

In [49]:
cik = get_cik(ticker)

In [50]:
concept_url = (
    f"https://data.sec.gov/api/xbrl/companyconcept/CIK{cik}/us-gaap/{concept}.json"
)
concept_df = pd.DataFrame.from_dict(requests.get(concept_url, headers=headers).json())

In [51]:
concept_units = pd.DataFrame.from_dict(concept_df["units"]["USD"])
for col in ["start", "end", "filed"]:
    concept_units[col] = pd.to_datetime(concept_units[col])
df = concept_units
df["time_delta"] = df["end"] - df["start"]
df["val"] = df["val"] / 1_000_000
df.rename(columns={"val": "value(millions)"}, inplace=True)

annual_data = df[df["time_delta"] > pd.Timedelta(days=350)]
df = df.drop(annual_data.index)
annual_data = annual_data.drop_duplicates(subset="value(millions)", keep="last")
annual_data = annual_data.dropna(subset="frame")
annual_data = annual_data.drop(
    columns=["time_delta", "filed", "form", "fy", "fp"]
).reset_index(drop=True)

annual_data.rename(columns={"frame": "year"}, inplace=True)
extra_data = df[df["time_delta"] > pd.Timedelta(days=115)]
df = df.drop(extra_data.index)
extra_data.reset_index(drop=True, inplace=True)
df = df.drop_duplicates(subset="value(millions)", keep="last")
df = df.drop(columns=["time_delta", "filed", "form", "fy", "fp", "accn"])
df = df.dropna(subset=["frame"])
df = df.reset_index(drop=True)

In [52]:
def map_to_quarter(end_date):
    month_diff = (end_date.month - end_month + 9) % 12
    if 0 <= month_diff < 3:
        return 1
    elif 3 <= month_diff < 6:
        return 2
    elif 6 <= month_diff < 9:
        return 3
    else:  # 9, 10, 11
        return 4

end_month = annual_data.iloc[0]["end"].month
df["quarter"] = df["end"].apply(map_to_quarter)

In [53]:
start_year = int(df['frame'].min()[2:6]) # extract start year from the minimum frame
end_year = int(df['frame'].max()[2:6]) # extract end year from the maximum frame
frames = [f"CY{year}Q{quarter}" for year in range(start_year, end_year + 1) for quarter in range(1, 5)]
df_full = pd.DataFrame({'frame': frames})
# Step 2: Merge the original DataFrame with the new DataFrame
merged = pd.merge(df_full, df, how='left', on='frame')

# Step 3: Sort the DataFrame by frame
merged = merged.sort_values(by='frame').reset_index(drop=True)
merged.drop(columns=['frame'], inplace=True)

In [54]:
merged["next_start"] = merged["start"].shift(-1)
merged["prev_end"] = merged["end"].shift()

# For missing quarters, set the 'start' date as the day after the end of the previous quarter,
# and the 'end' date as the day before the start of the next quarter
merged.loc[merged["start"].isna(), "start"] = merged["prev_end"] + pd.Timedelta(days=1)
merged.loc[merged["end"].isna(), "end"] = merged["next_start"] - pd.Timedelta(days=1)

# Drop the 'next_start' and 'prev_end' columns as they are no longer needed
merged.drop(["next_start", "prev_end"], axis=1, inplace=True)

In [55]:
today = datetime.datetime.today()
# Calculate the start date of the current quarter
if today.month < 4:
    quarter_start = datetime.datetime(today.year - 1, 12, 1)
elif today.month < 7:
    quarter_start = datetime.datetime(today.year, 3, 1)
elif today.month < 10:
    quarter_start = datetime.datetime(today.year, 6, 1)
else:
    quarter_start = datetime.datetime(today.year, 9, 1)
# Remove rows where the 'start' date is on or after the start of the current quarter
merged = merged[merged["start"] < quarter_start]

In [57]:
merged

        start        end  value(millions)  quarter
1  2008-03-30 2008-06-28           1072.0      3.0
2  2008-06-29 2008-09-27              NaN      NaN
3  2008-09-28 2008-12-27           2255.0      1.0
4  2008-12-28 2009-03-28           1620.0      2.0
5  2009-03-29 2009-06-27           1828.0      3.0
6  2009-06-28 2009-09-26           2532.0      4.0
7  2009-09-27 2009-12-26           3378.0      1.0
8  2009-12-27 2010-03-27           3074.0      2.0
9  2010-03-28 2010-06-26           3253.0      3.0
10 2010-06-27 2010-09-25           4308.0      4.0
11 2010-09-26 2010-12-25           6004.0      1.0
12 2010-12-26 2011-03-26           5987.0      2.0
13 2011-03-27 2011-06-25           7308.0      3.0
14 2011-06-26 2011-09-24           6623.0      4.0
15 2011-09-25 2011-12-31          13064.0      1.0
16 2012-01-01 2012-03-31          11622.0      2.0
17 2012-04-01 2012-06-30           8824.0      3.0
18 2012-07-01 2012-09-29           8223.0      4.0
19 2012-09-30 2012-12-29          13078.0      1.0
20 2012-12-30 2013-03-30           9547.0      2.0
21 2013-03-31 2013-06-29           6900.0      3.0
22 2013-06-30 2013-09-28           7512.0      4.0
23 2013-09-29 2013-12-28          13072.0      1.0
24 2013-12-29 2014-03-29          10223.0      2.0
25 2014-03-30 2014-06-28           7748.0      3.0
26 2014-06-29 2014-09-27           8467.0      4.0
27 2014-09-28 2014-12-27          18024.0      1.0
28 2014-12-28 2015-03-28          13569.0      2.0
29 2015-03-29 2015-06-27          10677.0      3.0
30 2015-06-28 2015-09-26          11124.0      4.0
31 2015-09-27 2015-12-26          18361.0      1.0
32 2015-12-27 2016-03-26          10516.0      2.0
33 2016-03-27 2016-06-25           7796.0      3.0
34 2016-06-26 2016-09-24           9014.0      4.0
35 2016-09-25 2016-12-31          17891.0      1.0
36 2017-01-01 2017-04-01          11029.0      2.0
37 2017-04-02 2017-07-01           8717.0      3.0
38 2017-07-02 2017-09-30          10714.0      4.0
39 2017-10-01 2017-12-30          20065.0      1.0
40 2017-12-31 2018-03-31          13822.0      2.0
41 2018-04-01 2018-06-30          11519.0      3.0
42 2018-07-01 2018-09-29          14125.0      4.0
43 2018-09-30 2018-12-29          19965.0      1.0
44 2018-12-30 2019-03-30          11561.0      2.0
45 2019-03-31 2019-06-29          10044.0      3.0
46 2019-06-30 2019-09-28          13686.0      4.0
47 2019-09-29 2019-12-28          22236.0      1.0
48 2019-12-29 2020-03-28          11249.0      2.0
49 2020-03-29 2020-06-27          11253.0      3.0
50 2020-06-28 2020-09-26          12673.0      4.0
51 2020-09-27 2020-12-26          28755.0      1.0
52 2020-12-27 2021-03-27          23630.0      2.0
53 2021-03-28 2021-06-26          21744.0      3.0
54 2021-06-27 2021-09-25              NaN      NaN
55 2021-09-26 2021-12-25          34630.0      1.0
56 2021-12-26 2022-03-26          25010.0      2.0
57 2022-03-27 2022-06-25          19442.0      3.0
58 2022-06-26 2022-09-24              NaN      NaN
59 2022-09-25 2022-12-31          29998.0      1.0
60 2023-01-01 2023-04-01          24160.0      2.0